---
import Layout from '../layouts/Process.astro';
---


<Layout>

  <div class="content inline">
    <h1 class="text-shadows inline" >Gallery</h1>
  </div>
</head><body class="c17 doc-content">

  
  <p class="text-center m-0 mb-4"> Click pictures to zoom </p>

  <br><br><div class="Pdivider"></div><br><br><br><br>

 


<!-- ----------------------SCIFI MAN--------------------------------------- -->

<h1 class="c6" id="h.4ij4bmwaq3e3"><span class="c16 c8">SciFi Man</span>
<span class="c8">&nbsp;</span><span class="c1 c5">- May 2023</span>
<span class="c7 c1 c12">&nbsp;- WIP</span></h1><p class="c0">
<img alt="" src="../blender.png" style=" display: inline-block; width: 35.00px; height: 33.00px;" title="">    
<img alt="" src="../zbrush.png" style=" display: inline-block; width: 35.00px; height: 35.00px; " title="">
<span class="c1">&nbsp;</span><span class="c7 c1 c5">(Sculpting, Rigging)</span></p>

<div class="divider mb-1 mt-1 "></div> 

<div class="grid auto-rows-auto grid-cols-2 gap-2"></div>
  <a href="#lightbox1">
    <img alt="" src="../sciguy.png" style=" display: inline-block; width: 250px; height: 500px; " /></a>
  <a href="#lightbox2">
    <img alt="" src="../scifront.gif" style=" display: inline-block; width: 300px; height: 420px; " /></a>
</div>

<br><br><br><div class="Pdivider"></div><br><br><br><br>

<!-- ----------------------ANATOMY--------------------------------------- -->


<h1 class="c6" id="h.omlhcn8mxc8b"><span class="c16 c8">Anatomy Study</span><span class="c8">&nbsp;</span><span class="c1 c5">- August 2023</span></h1><p class="c0">
<img alt="" src="../blender.png" style=" display: inline-block; width: 35.00px; height: 33.00px;" >
<span class="c1 c5">&nbsp;(Sculpting)</span></p>
<div class="divider mb-1 mt-1 "></div>    

    <div class="grid auto-rows-auto grid-cols-2 gap-2"></div>
    <a href="#lightbox3">
      <img alt="" src="../anatfront.png" style=" display: inline-block; width: 217.5px; height: 208.75px; " /></a>
    <a href="#lightbox4">
      <img alt="" src="../anatback.png" style=" display: inline-block; width: 217.5px; height: 208.75px; " /></a>
  </div>

  <br><br><br><div class="Pdivider"></div><br><br><br><br>
 
 
  <!-- ----------------------GOATGUY---------------------------------------    -->


<h1 class="c6" id="h.3c510ortqbmj"><span class="c16 c8">Goatman</span><span class="c1 c5">- August 2021</span></h1><p class="c0">
<img alt="" src="../blender.png" style=" display: inline-block; width: 35.00px; height: 33.00px; " >
<img alt="" src="../toonboom.png" style=" display: inline-block; width: 35.95px; height: 34.16px; " >
<span class="c1 c5">(2D/3D Animation)</span></p><p class="c0">
  <div class="divider mb-1 mt-1 "></div> 

    <div class="grid auto-rows-auto grid-cols-2 gap-2">
    <a href="#lightbox5">
      <img alt="" src="../Goatman.jpg" style=" display: inline-block; width: 328.5px; height: 414px; margin-left: 0px; "></a>
    <a href="#lightbox6">
      <img alt="" src="../goatgif.gif" style=" display: inline-block; width: 280.5px; height: 360px; "></a>
    </div></p>

<br><br><br><div class="Pdivider"></div><br><br><br><br>


<!-- ------------------------MORPH DEMON------------------------------------- -->


<h1 class="c6" id="h.srcq9vs9dgri"><span class="c8 c16">Morph Demon</span><span class="c8">&nbsp;</span><span class="c1 c5">- August 2021</span></h1><p class="c0">
  
<img alt="" src="../toonboom.png" style="overflow: hidden; display: inline-block; width: 35.95px; height: 34.16px; ">

<span class="c1 c9">&nbsp;</span><span class="c1 c5">(2D Animation)</span></p><p class="c0">
<div class="divider mb-1 mt-1 "></div> 
 
<a href="#lightbox7">
<img alt="" src="../morph.gif" style="overflow: hidden; display: inline-block; width: 397.57px; height: 223.35px;"></a></p>


<br><br><br><div class="Pdivider"></div><br><br><br><br>

<!-- -------------------------SEAHORSE RAPTOR------------------------------------ -->


<h1 class="c6" id="h.o78be74lg34l"><span class="c16 c8">Seahorse Raptor</span>
<span class="c8">&nbsp;</span>
<span class="c7 c1 c5">- July 2023 -WIP</span></h1>
<p class="c0">
<img alt="" src="../zbrush.png" style="overflow: hidden; display: inline-block; width: 35.00px; height: 35.00px;">

<span class="c1">&nbsp;</span><span class="c1 c5">(Sculpting)</span></p><p class="c11">
  <div class="divider mb-1 mt-1 "></div>  
  

<a href="#lightbox8">
<img alt="" src="../searapt1.png" style="overflow: hidden; display: inline-block; width: 252.10px; height: 217.78px; " class="object"></a> 

<span class="c1">&nbsp;</span>

<a href="#lightbox9">
<img alt="" src="../searapt2.png" style="overflow: hidden; display: inline-block; width: 387.38px; height: 246.06px; margin-left: -13.08px;"></a> </p>

<br><br><br><div class="Pdivider"></div><br><br><br><br>

<!-- -------------------------LUCKY CAT------------------------------------ -->


<h1 class="c6" id="h.o78be74lg34l"><span class="c16 c8">Lucky Cat</span>
  <span class="c8">&nbsp;</span>
  <span class="c7 c1 c5">- December 2022</span></h1>
  <p class="c0">
  <img alt="" src="../zbrush.png" style="overflow: hidden; display: inline-block; width: 35.00px; height: 35.00px;">
  
  <span class="c1">&nbsp;</span><span class="c1 c5">(Modeling, Texturing)</span></p><p class="c11">
    <div class="divider mb-1 mt-1 "></div>  
    
  
  <a href="#lightbox10">
  <img alt="" src="../cat1.png" class="object -translate-y-10" style=" overflow: hidden; display: inline-block; width:338px ; height:425px ;"></a> 
  

  
  <a href="#lightbox11">
  <img alt="" src="../catalt.png" style=" overflow: hidden; display: inline-block; width:355px ; height:520px ;"></a> </p>

  <!-- <a href="#lightbox11">
    <img alt="" src="../catmesh.png" style=" overflow: hidden; display: inline-block; width:316px ; height:354px;" class="-translate-y-10"></a> </p>
    
    <img src="../cat2.png" style="overflow: hidden; display: inline-block;"> -->
  
  <br><br><br><div class="Pdivider"></div><br><br><br><br>

   <!-- ----------------------RATTICUS---------------------------------------    -->

   <p class="c11 c4"><span class="c2 c1"></span></p><h1 class="c6">
    <span class="c8 c15"><a class="c14" href="https://webspace.ocad.ca/~ike.moore/Intro/Ratticus.html">Ratticus cinematic</a></span><span class="c8">&nbsp;</span>
    <span class="c7 c1 c5">- November 2021</span></h1>
    <p class="c0">
    
    <img alt="" src="../blender.png" style="overflow: hidden; display: inline-block; width: 35.00px; height: 33.00px;">
    
    <span class="c1">&nbsp;</span>
    <span class="c1 c5">(Modeling,rigging,animation, shaders)</span></p>

<br><img src="../ratitle.gif"> <img src="../ratrig.png">
    <br><br><br><div class="Pdivider"></div><br><br><br><br>

<!-- -----------------------ADRENA RUN-------------------------------------- -->


<p class="c11 c4"><span class="c2 c1"></span></p><h1 class="c6" id="h.cj7ybmcs32wb">
<span class="c8 c15"><a class="c14" href="https://azhu.itch.io/adrenarun">AdrenaRun</a></span><span class="c8">&nbsp;</span>
<span class="c7 c1 c5">- September 2022</span></h1>
<p class="c0">

<img alt="" src="../blender.png" style="overflow: hidden; display: inline-block; width: 35.00px; height: 33.00px;">

<span class="c1">&nbsp;</span>
<span class="c1 c5">(Modeling,rigging,animation, shaders)</span></p> <p class="c11">
    
<span style="overflow: hidden; display: inline-block; width: 395.50px; height: 222.03px;">
<img alt="" src="../flybot.gif" title=""></span>

<span style="overflow: hidden; display: inline-block; width: 249.50px; height: 248.90px;">
<img alt="" src="../walkbot.gif"></span>

<div class="diff aspect-[16/9]">
    <div class="diff-item-1">
      <img alt="daisy" src="../armshaded.png" />
    </div>
    <div class="diff-item-2">
      <img alt="daisy" src="../armwireframe.png" class="bg-white" />
    </div>
    <div class="diff-resizer"></div>
  </div>
<br>

<span style="overflow: hidden; display: inline-block; width: 628.50px; height: 232.74px;">

<img alt="" src="../gun.png" style="  margin-top: -89.22px;" title=""></span></p><hr><p class="c11 c4"><span class="c2 c1"></span></p></body></html>


<!-- -------------------LIGHTBOXES------------------------------------------ -->


<div id="lightbox1" class="hidden target:block fixed inset-0 p-10 bg-black/100 overflow-auto"  >
  <a href="#!">
  <img src="../sciguy.png" class="h-full" alt="zoomed" style=" margin: auto; z-index: 2; " />
</a>
</div>

<!-- <div id="lightbox2" class="hidden target:block fixed inset-0 p-10 bg-black/75 overflow-auto">
  <a href="#" class="bg-white px-3 py-1 text-black absolute right-0 top-0">
  <img src="scifront.gif" class="h-full" alt="zoomed" />
  </a>
</div> -->

<div id="lightbox3" class="hidden target:block fixed inset-0 p-10 bg-black/100 overflow-auto"  >
  <a href="#!">
  <img src="../anatfront.png" class="" alt="zoomed" style=" margin: auto; z-index: 2; " />
</a>
</div>

<div id="lightbox4" class="hidden target:block fixed inset-0 p-10 bg-black/100 overflow-auto">
  <a href="#!">
  <img src="../anatback.png" class="" alt="zoomed" style=" margin: auto; z-index: 2; " />
</a>
</div>

<div id="lightbox5" class="hidden target:block fixed inset-0 p-10 bg-black/100 overflow-auto">
  <a href="#!">
  <img src="../Goatman.jpg" class="h-full" alt="zoomed" style=" margin: auto; z-index: 2; " />
</a>
</div>

<div id="lightbox6" class="hidden target:block fixed inset-0 p-10 bg-black/100 overflow-auto">
  <a href="#!">
  <img src="../goatgif.gif" class="" alt="zoomed" style=" margin: auto; z-index: 2; " />
</a>
</div>

<div id="lightbox7" class="hidden target:block fixed inset-0 p-10 bg-black/100 overflow-auto">
  <a href="#!">
  <img src="../morph.gif" class="" alt="zoomed" style=" margin: auto; z-index: 2; " />
</a>
</div>

<div id="lightbox8" class="hidden target:block fixed inset-0 p-10 bg-black/100 overflow-auto">
  <a href="#!">
  <img src="../searapt1.png" class="" alt="zoomed" style=" margin: auto; z-index: 2; " />
</a>
</div>

<div id="lightbox9" class="hidden target:block fixed inset-0 p-10 bg-black/100 overflow-auto">
  <a href="#!">
  <img src="../searapt2.png" class="" alt="zoomed" style=" margin: auto; z-index: 2; " />
</a>
</div>


</Layout>

<!-- ------------------------------------------------------------- -->


<style type="text/css">@import url(https://themes.googleusercontent.com/fonts/css?kit=O9QyY3iLqlytUTLkH8alZggOxvR8yKo05H_rhKGm4YU);ol{margin:0;padding:0}table td,table th{padding:0}
.c6{padding-top:12pt;padding-bottom:6pt;line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}
.c0{padding-top:12pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:left}
.c11{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}
.c2{color:#000000;text-decoration:none;vertical-align:baseline;font-size:11pt;font-style:normal}
.c7{color:#000000;text-decoration:none;vertical-align:baseline;font-style:normal}
.c15{-webkit-text-decoration-skip:none;color:#1155cc;text-decoration:underline;text-decoration-skip-ink:none}
.c17{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}
.c16{text-decoration-skip-ink:none;-webkit-text-decoration-skip:none;text-decoration:underline}
.c14{color:inherit;text-decoration:inherit}
.c10{font-weight:400;font-family:"Arial"}
.c1{font-weight:400;font-family:"Alegreya"}
.c8{font-weight:700;font-family:"Alegreya"}
.c13{font-size:12pt}
.c5{font-size:16pt}
.c12{font-size:20pt}
.c9{font-style:italic}
.c3{margin-left:36pt}
.c4{height:11pt}
.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}
.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;
font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;
font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}

:root {
  --color-primary: #ffffff;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
}

	.text-shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
 
  margin: 0;
  color: var(--color-primary);
  animation: shadows 2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    transform: translate(-3px, -3px);
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    transform: translate(-6px, -6px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    transform: translate(-9px, -9px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
}
</style>