


<body class="m-16">

<h1 class="text-blue-500 hover:underline font-bold m-4"><a href="/">Back</a></h1>

<h1 class="text-center font-bold text-4xl m-4">Sculpting</h1>
<div class="grid auto-rows-auto grid-cols-3 gap-4">
<image src="Gallery/image1.gif"></image>
<image src="Gallery/image2.png"></image>
<image src="Gallery/image3.png"></image>
<image src="Gallery/image4.png"></image>
<image src="Gallery/image5.gif"></image>
<image src="Gallery/image6.png"></image>
<image src="Gallery/image8.png"></image>
<image src="Gallery/image9.gif"></image>
<image src="Gallery/image10.png"></image>
<image src="Gallery/image12.jpg"></image>
<image src="Gallery/image13.gif"></image>
<image src="Gallery/image14.png"></image>
<image src="Gallery/image15.jpg"></image>
<image src="Gallery/image16.png"></image>
<image src="Gallery/image17.gif"></image>
<image src="Gallery/image18.jpg"></image>
<image src="Gallery/image20.gif"></image>
<image src="Gallery/image21.png"></image>
<image src="Gallery/image22.gif"></image>
</div>



</body>