---
import Layout from '../layouts/Process.astro';
---

<Layout>
</head><body class="c17 doc-content">
    
<h1 class="c6" id="h.4ij4bmwaq3e3"><span class="c16 c8">SciFi Man</span>
<span class="c8">&nbsp;</span><span class="c1 c5">- May 2023</span>
<span class="c7 c1 c12">&nbsp;- WIP</span></h1><p class="c0">
<img alt="" src="Gallery/image7.png" style=" display: inline-block; width: 35.00px; height: 33.00px;" title="">    
<img alt="" src="Gallery/image11.png" style=" display: inline-block; width: 35.00px; height: 35.00px; " title="">
<span class="c1">&nbsp;</span><span class="c7 c1 c5">(Sculpting, Rigging)</span></p>

<div class="divider mb-1 mt-1 "></div> 

<div class="grid auto-rows-auto grid-cols-2 gap-2"></div>
  <a href="#lightbox1">
    <img alt="" src="Gallery/sciguy.png" style=" display: inline-block; width: 250px; height: 500px; " /></a>
  <a href="#lightbox2">
    <img alt="" src="Gallery/scifront.gif" style=" display: inline-block; width: 300px; height: 420px; " /></a>
</div>

 
<!-- ------------------------------------------------------------- -->


<h1 class="c6" id="h.omlhcn8mxc8b"><span class="c16 c8">Anatomy Study</span><span class="c8">&nbsp;</span><span class="c1 c5">- August 2023</span></h1><p class="c0">
<img alt="" src="Gallery/image7.png" style=" display: inline-block; width: 35.00px; height: 33.00px;" >
<span class="c1 c5">&nbsp;(Sculpting)</span></p>
    
    <!-- <div class="diff  aspect-[16/15]">
        <div class="diff-item-1">
        <img alt="daisy" src="Gallery/image4.png"  />
        </div>
        <div class="diff-item-2">
        <img alt="daisy" src="Gallery/image10.png"  />
        </div>
        <div class="diff-resizer"></div>
    </div> -->

    <div class="grid auto-rows-auto grid-cols-2 gap-2"></div>
    <a href="#lightbox3">
      <img alt="" src="Gallery/anatfront.png" style=" display: inline-block; width: 217.5px; height: 208.75px; " /></a>
    <a href="#lightbox4">
      <img alt="" src="Gallery/anatback.png" style=" display: inline-block; width: 217.5px; height: 208.75px; " /></a>
  </div>
 <!-- -------------------------------------------------------------    -->


<h1 class="c6" id="h.3c510ortqbmj"><span class="c16 c8">Goatman</span><span class="c1 c5">- August 2021</span></h1><p class="c0">
<img alt="" src="Gallery/image7.png" style=" display: inline-block; width: 35.00px; height: 33.00px; " >
<img alt="" src="Gallery/image19.png" style=" display: inline-block; width: 35.95px; height: 34.16px; " >
<span class="c1 c5">(2D/3D Animation)</span></p><p class="c0">

    <div class="grid auto-rows-auto grid-cols-2 gap-2">
    <img alt="" src="Gallery/image12.jpg" style=" display: inline-block; width: 328.5px; height: 414px; margin-left: 0px; margin-top: 0.00px; ">
    <img alt="" src="Gallery/goatgif.gif" style=" display: inline-block; width: 280.5px; height: 360px; margin-left: 0px; margin-top: 0.00px; ">
    </div>

<!-- ------------------------------------------------------------- -->


</p><hr><p class="c0 c4"><span class="c2 c1"></span></p><h1 class="c6" id="h.srcq9vs9dgri"><span class="c8 c16">Morph Demon</span><span class="c8">&nbsp;</span><span class="c1 c5">- August 2021</span></h1><p class="c0">
    
<span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 35.95px; height: 34.16px;"><img alt="" src="Gallery/image19.png" style="width: 35.95px; height: 34.16px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span>

<span class="c1 c9">&nbsp;</span><span class="c1 c5">(2D Animation)</span></p><p class="c0">
    
<span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 397.57px; height: 223.35px;"><img alt="" src="Gallery/image13.gif" style="width: 397.57px; height: 223.35px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span>

<!-- ------------------------------------------------------------- -->


</p><hr><p class="c0 c4"><span class="c2 c1"></span></p><h1 class="c6" id="h.o78be74lg34l"><span class="c16 c8">Seahorse Raptor</span><span class="c8">&nbsp;</span><span class="c7 c1 c5">- July 2023 -WIP</span></h1><p class="c0"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 35.00px; height: 35.00px;"><img alt="" src="Gallery/image11.png" style="width: 35.00px; height: 35.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span><span class="c1">&nbsp;</span><span class="c1 c5">(Sculpting)</span></p><p class="c11">
    
<span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 237.50px; height: 217.78px;"><img alt="" src="Gallery/image21.png" style="width: 252.10px; height: 217.78px; margin-left: -9.99px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span><span class="c1">&nbsp;</span>

<span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 368.58px; height: 246.06px;"><img alt="" src="Gallery/image2.png" style="width: 387.38px; height: 246.06px; margin-left: -13.08px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span>

<!-- ------------------------------------------------------------- -->


</p><hr><p class="c11 c4"><span class="c2 c1"></span></p><h1 class="c6" id="h.cj7ybmcs32wb"><span class="c8 c15"><a class="c14" href="https://www.google.com/url?q=https://azhu.itch.io/adrenarun&amp;sa=D&amp;source=editors&amp;ust=1691941527424020&amp;usg=AOvVaw1q4HhzNm-Cydj6u2jrOxh5">AdrenaRun</a></span><span class="c8">&nbsp;</span><span class="c7 c1 c5">- September 2022</span></h1><p class="c0"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 35.00px; height: 33.00px;"><img alt="" src="Gallery/image7.png" style="width: 35.00px; height: 33.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span><span class="c1">&nbsp;</span><span class="c1 c5">(Modeling,rigging,animation, shaders)</span></p><p class="c11">
    
<span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 395.50px; height: 222.03px;"><img alt="" src="Gallery/image20.gif" style="width: 396.23px; height: 222.03px; margin-left: 00.19px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span>

<span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 249.50px; height: 248.90px;"><img alt="" src="Gallery/image5.gif" style="width: 249.84px; height: 248.90px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span>

<!-- <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 350.50px; height: 188.03px;"><img alt="" src="Gallery/image1.gif" style="width: 366.29px; height: 206.37px; margin-left: 00.56px; margin-top: -10.06px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span> -->

<!-- <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 450.50px; height: 319.63px;"><img alt="" src="Gallery/image22.gif" style="width: 568.68px; height: 319.63px; margin-left: 00.13px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span> -->

<!-- <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 510.50px; height: 254.12px;"><img alt="" src="Gallery/image9.gif" style="width: 537.57px; height: 303.45px; margin-left: 00.77px; margin-top: -49.33px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span> -->

<!-- <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 233.00px; height: 320.00px;"><img alt="" src="Gallery/image16.png" style="width: 233.00px; height: 320.00px; margin-left: -20.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span> -->

<div class="diff aspect-[16/9]">
    <div class="diff-item-1">
      <img alt="daisy" src="armshaded.png" />
    </div>
    <div class="diff-item-2">
      <img alt="daisy" src="armwireframe.png" class="bg-white" />
    </div>
    <div class="diff-resizer"></div>
  </div>


<span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 628.50px; height: 232.74px;"><img alt="" src="Gallery/image3.png" style="width: 628.35px; height: 352.62px; margin-left: -154.83px; margin-top: -89.22px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p><hr><p class="c11 c4"><span class="c2 c1"></span></p></body></html>

<!-- ------------------------------------------------------------- -->


<div id="lightbox1" class="hidden target:block fixed inset-0 p-10 bg-black/100 overflow-auto"  >
  <a href="#">
  <img src="Gallery/sciguy.png" class="h-full" alt="zoomed" style=" margin: auto; z-index: 2; " />
</a>
</div>

<!-- <div id="lightbox2" class="hidden target:block fixed inset-0 p-10 bg-black/75 overflow-auto">
  <a href="#" class="bg-white px-3 py-1 text-black absolute right-0 top-0">
  <img src="Gallery/scifront.gif" class="h-full" alt="zoomed" />
  </a>
</div> -->

<div id="lightbox3" class="hidden target:block fixed inset-0 p-10 bg-black/100 overflow-auto"  >
  <a href="#">
  <img src="Gallery/anatfront.png" class="" alt="zoomed" style=" margin: auto; z-index: 2; " />
</a>
</div>

<div id="lightbox4" class="hidden target:block fixed inset-0 p-10 bg-black/100 overflow-auto"  >
  <a href="#">
  <img src="Gallery/anatback.png" class="" alt="zoomed" style=" margin: auto; z-index: 2; " />
</a>
</div>


</Layout>

<!-- ------------------------------------------------------------- -->


<style type="text/css">@import url(https://themes.googleusercontent.com/fonts/css?kit=O9QyY3iLqlytUTLkH8alZggOxvR8yKo05H_rhKGm4YU);ol{margin:0;padding:0}table td,table th{padding:0}
.c6{padding-top:12pt;padding-bottom:6pt;line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}
.c0{padding-top:12pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:left}
.c11{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}

.c2{color:#000000;text-decoration:none;vertical-align:baseline;font-size:11pt;font-style:normal}
.c7{color:#000000;text-decoration:none;vertical-align:baseline;font-style:normal}

.c15{-webkit-text-decoration-skip:none;color:#1155cc;text-decoration:underline;text-decoration-skip-ink:none}

.c17{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}

.c16{text-decoration-skip-ink:none;-webkit-text-decoration-skip:none;text-decoration:underline}
.c14{color:inherit;text-decoration:inherit}
.c10{font-weight:400;font-family:"Arial"}
.c1{font-weight:400;font-family:"Alegreya"}
.c8{font-weight:700;font-family:"Alegreya"}
.c13{font-size:12pt}
.c5{font-size:16pt}
.c12{font-size:20pt}
.c9{font-style:italic}
.c3{margin-left:36pt}
.c4{height:11pt}
.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}

.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;
font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;
font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}</style>