---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Carousel from '../components/Carousel.astro';

---


<Layout title="Joe Moore">


	<main>

		<p class="text-center m-0 mb-4"> My name is </p>
		<div class="content inline">
			<h1 class="text-shadows" >Joe Moore</h1>
		</div>
		
		<p class="mx-8 text-center mt-4"> I like 3D graphics, VFX, and game design</p>
		<div class="flex flex-row justify-center m-8">

			<a class="mx-2" href="https://github.com/jo3moor3"><i class="fa-brands fa-github fa-2xl hover:opacity-50"></i></a>

			<a class="mx-2" href="https://www.linkedin.com/in/theodore-moore-03019a14b/"><i class="fa-brands fa-linkedin fa-2xl hover:opacity-50"></i></a>

			<a class="mx-2" href="https://ikeia.itch.io/"><i class="fa-brands fa-itch-io fa-2xl hover:opacity-50"></i></a>

		</div>



		<Carousel
		direction={-1}
		duration={10}
		amount={6}
		size="290px"
		>
		<div class="slide">
			<img class="item" src="ratrig.png"></image>
		</div>
		<div class="slide">
			<img class="item" src="procedural tentacle.gif"></image>
		</div>
		<div class="slide">
			<img class="item" src="ratsim.gif"></image>
		</div>
		<div class="slide">
			<img class="item" src="scineck.jpg"></image>
		</div>
		<div class="slide">
			<img class="item" src="level_builder.gif"></image>
		</div>
		<div class="slide">
			<img class="item" src="cat1.png"></image>
		</div>


		<!-- Copy and paste all slide again under here: -->

		<div class="slide">
			<img class="item" src="ratrig.png"></image>
		</div>
		<div class="slide">
			<img class="item" src="procedural tentacle.gif"></image>
		</div>
		<div class="slide">
			<img class="item" src="ratsim.gif"></image>
		</div>
		<div class="slide">
			<img class="item" src="scineck.jpg"></image>
		</div>
		<div class="slide">
			<img class="item" src="level_builder.gif"></image>
		</div> 
		<div class="slide">
			<img class="item" src="cat1.png"></image>
		</div>

		</Carousel>

		<Carousel
		direction={-1}
		duration={10}
		amount={5}
		size="130px"
		>
		<div class="logoslide">
			<img class="" src="blender.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="zbrush.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="houdini.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="python.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="godot.png"></image>
		</div>

		<!-- Copy and paste all slide again under here: -->

		<div class="logoslide">
			<img class="" src="blender.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="zbrush.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="houdini.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="python.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="godot.png"></image>
		</div>

		</Carousel>		

		

				<ul role="list" class="link-card-grid">
			<Card
				href="Gallery"  
				title="Gallery"
				body="Array of various artwork and animations."
				image="gallery.jpg"
				tags={["ZBrush", "Blender", "TBHarmony"]}
			/>
		</ul>	

		<!-- <div class="text-center mb-8 mt-12 font-bold text-3xl section_heading">Process documentation</div>  -->

		<div class="divider mb-8 mt-12 font-bold text-3xl section_heading">Visual Effects</div> 
		<ul role="list" class="link-card-grid">
			<Card
				href="RatVisual"  
				title="Particle Simulation"
				body="3D rat visual"
				image="ratsim.png"
				tags={["Houdini","3D Math", "Blender", "ZBrush"]}
			/>
			
			<Card
				href="ToJam"
				title="TOJam 2023"
				body="2D/3D VFX workflow."
				image="Emb.png"
				tags={["Blender","Houdini", "Godot","OpenToonz"]}
			/>
		</ul>
		<div class="divider mb-5 mt-12  font-bold text-3xl section_heading">Tools</div> 


		<ul role="list" class="link-card-grid">
			
			<Card
				href="Geospatial"
				title="Geospatial Visualizer"
				body="Visualizing Toronto bike collisions "
				image="Georender.png"
				tags= {["Python","Blender"]}
			/>
			<Card
				href="TastyTech"
				title="Tasty Tech"
				body="Making a computer vision data set "
				image="TeethUI.png"
				tags= {["Python","Blender", "Rigging"]}
			/>
		</ul>
		<br>
			<!-- <Card
				href=""
				title="Crater Generator"
				body="Setting up a 3D procedural crater "
				image="crater.png"
				tags= {["Python","Houdini"]}
			/> -->

			<ul role="list" class="link-card-grid">
			<Card
				href=""
				title="Level Builder"
				body="Documentation in progress "
				image="level_builder.gif"
				tags= {["Python","Houdini", "Photoshop"]}
			/>
		</ul> <br><br>
		<div class="divider mb-5 mt-12 font-bold text-3xl section_heading">GAMES</div> 

		<div class=" mb-8 text-center text-1xl section_desc">Game design, 3D/2D assets, animations, UI, shaders, and compositing</div>

		<ul role="list" class="link-card-grid">
			 
			<Card
				href="https://notaloli39.itch.io/continuum"
				title="Continuum"
				body="Point and click time loop puzzle"
				image="Cont.png"
				tags= {["Animation", "Photoshop", "Shaders", "Twine"]}
			/>
			<Card
			href="https://ikeia.itch.io/raticus"
			title="Raticus"
			body="2D action arena roguelike."
			image="Rat.png"
			tags={["TBHarmony","Animation", "Godot"]}
			/>
			<Card
			href="https://azhu.itch.io/adrenarun"
			title="AdrenaRun"
			body="3D FPS roguelike."
			image="Adrena.png"
			tags={["Blender","Rigging", "Animation", "Unity"]}
		/>
		<Card
		href="https://ikeia.itch.io/astrocleaner"
		title="AstroCleaner"
		body="Turn based puzzle "
		image="AstroCleaner.png"
		tags= {["Photoshop", "Godot"]}
	/>
		</ul>
	</main>
</Layout>

<style>

	.section_heading {
		color: rgb(250, 151, 151);
	}

	.section_desc {
		color: white;
		font-size: 16px;
	}

	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	:root {
  --color-primary: #ffffff;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
}

	.text-shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
 
  margin: 0;
  color: var(--color-primary);
  animation: shadows 2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    transform: translate(-3px, -3px);
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    transform: translate(-6px, -6px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    transform: translate(-9px, -9px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.slide{
		height: 200px;
		width: 250px;
		align-items: center;
		padding: 15px;
		margin: 0 20px;
		perspective: 100px;
		pointer-events:auto;
		
 
	}
.logoslide{
	height: 70px;
	width: 70px;
	align-items: center;
	padding: 1px;
	margin: 0 30px;
	perspective: 100px;
	pointer-events:auto;
	@apply invert;
	

}

.item:hover {
	@apply border;
}


 


</style>
