---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Joe Moore">
	<main>

		<h1 class="text-accent text-6xl font-bold m-8" style="color: white">Joe Moore</h1>
		<div class="flex flex-row justify-center m-8">

			<a class="mx-2" href="https://github.com/jo3moor3"><i class="fa-brands fa-github fa-2xl hover:opacity-50"></i></a>

			<a class="mx-2" href="https://www.linkedin.com/in/theodore-moore-03019a14b/"><i class="fa-brands fa-linkedin fa-2xl hover:opacity-50"></i></a>

			<a class="mx-2" href="https://ikeia.itch.io/"><i class="fa-brands fa-itch-io fa-2xl hover:opacity-50"></i></a>

		</div>

		

				<ul role="list" class="link-card-grid">
			<Card
				href="/Gallery"  
				title="Artwork Gallery"
				body="Array of various artwork and animations."
				image="Gallery/image14.png"
				tags={["ZBrush", "Blender", "TBHarmony"]}
			/>
		</ul>	

		<div class="divider mb-8 mt-12 font-bold text-3xl section_heading">Visual Effects</div> 
		<ul role="list" class="link-card-grid">
			<Card
				href="/WebsiteVisual"  
				title="Particle Simulation"
				body="3D rat visual for my website."
				image="ratsim.png"
				tags={["Houdini","3D Math", "Blender", "ZBrush"]}
			/>
			
			<Card
				href="/ToJam"
				title="Embryote"
				body="My workflow for TOJam 2023."
				image="Emb.png"
				tags={["Blender","Houdini", "Godot","OpenToonz"]}
			/>
		</ul>
		<div class="divider mb-5 mt-12  font-bold text-3xl section_heading">Scripting</div> 


		<ul role="list" class="link-card-grid">
			
			<Card
				href="/Geospatial"
				title="Geospatial Visualization"
				body="Toronto bike collisions visualized "
				image="Georender.png"
				tags= {["Python","Blender"]}
			/>
			<Card
				href="/TastyTech"
				title="Tasty Tech"
				body="Making a computer vision data set "
				image="TeethUI.png"
				tags= {["Python","Blender", "Rigging"]}
			/>
		</ul>
		<div class="divider mb-5 mt-12 font-bold text-3xl section_heading">Games</div> 

		<div class=" mb-8 text-center text-1xl section_desc">I made all of the 3D/2D character art and animations as well as the shaders and compositing</div>

		<ul role="list" class="link-card-grid">
			 
			<Card
				href="https://notaloli39.itch.io/continuum"
				title="Continuum"
				body="Point and click time loop puzzle"
				image="Cont.png"
				tags= {["Animation", "Photoshop", "Shaders", "Twine"]}
			/>
			<Card
			href="https://ikeia.itch.io/raticus"
			title="Raticus"
			body="2D action arena roguelike."
			image="Rat.png"
			tags={["TBHarmony","Animation", "Godot"]}
			/>
			<Card
			href="https://azhu.itch.io/adrenarun"
			title="AdrenaRun"
			body="3D FPS roguelike."
			image="Adrena.png"
			tags={["Blender","Rigging", "Animation", "Unity"]}
		/>
		<Card
		href="https://ikeia.itch.io/astrocleaner"
		title="AstroCleaner"
		body="Turn based puzzle "
		image="AstroCleaner.png"
		tags= {["Photoshop", "Godot"]}
	/>
		</ul>
	</main>
</Layout>

<style>

	.section_heading {
		color: rgb(250, 151, 151);
	}

	.section_desc {
		color: white;
		font-size: 16px;
	}

	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
