---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Carousel from '../components/Carousel.astro';

---


<Layout title="Joe Moore">


	<main>

		<p class="text-center m-0 mb-4"> My name is </p>
		<div class="content inline">
			<h1 class="text-shadows" >Joe Moore</h1>
		</div>
		
		<p class="mx-8 text-center mt-4"> I like 3D graphics, VFX, and game design</p>
		<div class="flex flex-row justify-center m-8">

			<a class="mx-2" href="https://github.com/jo3moor3"><i class="fa-brands fa-github fa-2xl hover:opacity-50"></i></a>

			<a class="mx-2" href="https://www.linkedin.com/in/theodore-moore-03019a14b/"><i class="fa-brands fa-linkedin fa-2xl hover:opacity-50"></i></a>

			<a class="mx-2" href="https://ikeia.itch.io/"><i class="fa-brands fa-itch-io fa-2xl hover:opacity-50"></i></a>

		</div>



		<Carousel
		direction={-1}
		duration={10}
		amount={6}
		size="290px"
		>
		<div class="slide">
			<img class="item" src="ratrig.png"></image>
		</div>
		<div class="slide">
			<img class="item" src="procedural tentacle.gif"></image>
		</div>
		<div class="slide">
			<img class="item" src="ratsim.gif"></image>
		</div>
		<div class="slide">
			<img class="item" src="scineck.jpg"></image>
		</div>
		<div class="slide">
			<img class="item" src="level_builder.gif"></image>
		</div>
		<div class="slide">
			<img class="item" src="cat1.png"></image>
		</div>


		<!-- Copy and paste all slide again under here: -->

		<div class="slide">
			<img class="item" src="ratrig.png"></image>
		</div>
		<div class="slide">
			<img class="item" src="procedural tentacle.gif"></image>
		</div>
		<div class="slide">
			<img class="item" src="ratsim.gif"></image>
		</div>
		<div class="slide">
			<img class="item" src="scineck.jpg"></image>
		</div>
		<div class="slide">
			<img class="item" src="level_builder.gif"></image>
		</div> 
		<div class="slide">
			<img class="item" src="cat1.png"></image>
		</div>

		</Carousel>

		<Carousel
		direction={-1}
		duration={10}
		amount={5}
		size="130px"
		>
		<div class="logoslide">
			<img class="" src="blender.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="zbrush.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="houdini.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="python.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="godot.png"></image>
		</div>

		<!-- Copy and paste all slide again under here: -->

		<div class="logoslide">
			<img class="" src="blender.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="zbrush.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="houdini.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="python.png"></image>
		</div>
		<div class="logoslide">
			<img class="" src="godot.png"></image>
		</div>

		</Carousel>		

		

				<ul role="list" class="link-card-grid">
			<Card
				href="Gallery"  
				title="Gallery"
				body="Array of various artwork and animations."
				image="gallery.jpg"
				tags={["ZBrush", "Blender", "TBHarmony"]}
			/>
		</ul>	

		<!-- <div class="text-center mb-8 mt-12 font-bold text-3xl section_heading">Process documentation</div>  -->

		



<!-- Please typing your favorite word!-->
<div class="vfxC h-1 whitespace-nowrap flex flex-row items-center self-stretch mb-12 mt-24 justify-center">
<div id="ui">  
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
	<div class="text">VFX</div>
  </div>
</div>

		<ul role="list" class="link-card-grid">
			<Card
				href="RatVisual"  
				title="Particle Simulation"
				body="3D rat visual"
				image="ratsim.png"
				tags={["Houdini","3D Math", "Blender", "ZBrush"]}
			/>
			
			<Card
				href="ToJam"
				title="TOJam 2023"
				body="2D/3D VFX workflow."
				image="Emb.png"
				tags={["Blender","Houdini", "Godot","OpenToonz"]}
			/>
		</ul>
		

		<div class="relative mb-12 mt-32">
		<div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
	</div>
		<ul role="list" class="link-card-grid">
			
			<Card
				href="Geospatial"
				title="Geospatial Visualizer"
				body="Visualizing Toronto bike collisions "
				image="Georender.png"
				tags= {["Python","Blender"]}
			/>
			<Card
				href="TastyTech"
				title="Tasty Tech"
				body="Making a computer vision data set "
				image="TeethUI.png"
				tags= {["Python","Blender", "Rigging"]}
			/>
		</ul>
		<br>
			<!-- <Card
				href=""
				title="Crater Generator"
				body="Setting up a 3D procedural crater "
				image="crater.png"
				tags= {["Python","Houdini"]}
			/> -->

			<ul role="list" class="link-card-grid">
			<Card
				href=""
				title="Level Builder"
				body="Documentation in progress "
				image="level_builder.gif"
				tags= {["Python","Houdini", "Photoshop"]}
			/>
		</ul> <br><br>
	

<div class="gamesC">
		<ul class="c-rainbow">
			<li class="c-rainbow__layer c-rainbow__layer--white">GAMES</li>
			<li class="c-rainbow__layer c-rainbow__layer--orange">GAMES</li>
			<li class="c-rainbow__layer c-rainbow__layer--red">GAMES</li>
			<li class="c-rainbow__layer c-rainbow__layer--violet">GAMES</li>
			<li class="c-rainbow__layer c-rainbow__layer--blue">GAMES</li>
			<li class="c-rainbow__layer c-rainbow__layer--green">GAMES</li>
			<li class="c-rainbow__layer c-rainbow__layer--yellow">GAMES</li>
		   </ul>
		</div>

		<div class=" mb-8 text-center text-1xl section_desc">Game design, 3D/2D assets, animations, UI, shaders, and compositing</div>

		<ul role="list" class="link-card-grid">
			 
			<Card
				href="https://notaloli39.itch.io/continuum"
				title="Continuum"
				body="Point and click time loop puzzle"
				image="Cont.png"
				tags= {["Animation", "Photoshop", "Shaders", "Twine"]}
			/>
			<Card
			href="https://ikeia.itch.io/raticus"
			title="Raticus"
			body="2D action arena roguelike."
			image="Rat.png"
			tags={["TBHarmony","Animation", "Godot"]}
			/>
			<Card
			href="https://azhu.itch.io/adrenarun"
			title="AdrenaRun"
			body="3D FPS roguelike."
			image="Adrena.png"
			tags={["Blender","Rigging", "Animation", "Unity"]}
		/>
		<Card
		href="https://ikeia.itch.io/astrocleaner"
		title="AstroCleaner"
		body="Turn based puzzle "
		image="AstroCleaner.png"
		tags= {["Photoshop", "Godot"]}
	/>
		</ul>
	</main>


	<script src="../scripts/effectT.js">
	</script>
	
</Layout>

<style>

	.section_heading {
		color: rgb(250, 151, 151);
	}

	.section_desc {
		color: white;
		font-size: 16px;
	}

	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	:root {
  --color-primary: #ffffff;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
}

	.text-shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
 
  margin: 0;
  color: var(--color-primary);
  animation: shadows 2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    transform: translate(-3px, -3px);
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    transform: translate(-6px, -6px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    transform: translate(-9px, -9px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.slide{
		height: 200px;
		width: 250px;
		align-items: center;
		padding: 15px;
		margin: 0 20px;
		perspective: 100px;
		pointer-events:auto;
		
 
	}
.logoslide{
	height: 70px;
	width: 70px;
	align-items: center;
	padding: 1px;
	margin: 0 30px;
	perspective: 100px;
	pointer-events:auto;
	@apply invert;
	

}

.item:hover {
	@apply border;
}


 
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:3em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}



.vfxc {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
}

.vfxc > div {
  will-change: transform;
}

#ui {
  transform-style: preserve-3d;
}
#ui .text {
  position: absolute;
  font-size: 5rem;
  color: #fff;
  line-height: 10rem;
  font-family: "Anton", sans-serif;
  padding: 20px 0;
  mix-blend-mode: screen;
  transform-style: preserve-3d;
}
#ui .text:nth-child(1) {
  -webkit-clip-path: polygon(-30% 0, -20% 0, 20% 100%, 0% 100%);
          clip-path: polygon(-30% 0, -20% 0, 20% 100%, 0% 100%);
  -webkit-animation: wave 2000ms -10000ms ease-in-out infinite alternate;
          animation: wave 2000ms -10000ms ease-in-out infinite alternate;
}
#ui .text:nth-child(2) {
  -webkit-clip-path: polygon(-25% 0, -15% 0, 25% 100%, 5% 100%);
          clip-path: polygon(-25% 0, -15% 0, 25% 100%, 5% 100%);
  -webkit-animation: wave 2000ms -9800ms ease-in-out infinite alternate;
          animation: wave 2000ms -9800ms ease-in-out infinite alternate;
}
#ui .text:nth-child(3) {
  -webkit-clip-path: polygon(-20% 0, -10% 0, 30% 100%, 10% 100%);
          clip-path: polygon(-20% 0, -10% 0, 30% 100%, 10% 100%);
  -webkit-animation: wave 2000ms -9600ms ease-in-out infinite alternate;
          animation: wave 2000ms -9600ms ease-in-out infinite alternate;
}
#ui .text:nth-child(4) {
  -webkit-clip-path: polygon(-15% 0, -5% 0, 35% 100%, 15% 100%);
          clip-path: polygon(-15% 0, -5% 0, 35% 100%, 15% 100%);
  -webkit-animation: wave 2000ms -9400ms ease-in-out infinite alternate;
          animation: wave 2000ms -9400ms ease-in-out infinite alternate;
}
#ui .text:nth-child(5) {
  -webkit-clip-path: polygon(-10% 0, 0% 0, 40% 100%, 20% 100%);
          clip-path: polygon(-10% 0, 0% 0, 40% 100%, 20% 100%);
  -webkit-animation: wave 2000ms -9200ms ease-in-out infinite alternate;
          animation: wave 2000ms -9200ms ease-in-out infinite alternate;
}
#ui .text:nth-child(6) {
  -webkit-clip-path: polygon(-5% 0, 5% 0, 45% 100%, 25% 100%);
          clip-path: polygon(-5% 0, 5% 0, 45% 100%, 25% 100%);
  -webkit-animation: wave 2000ms -9000ms ease-in-out infinite alternate;
          animation: wave 2000ms -9000ms ease-in-out infinite alternate;
}
#ui .text:nth-child(7) {
  -webkit-clip-path: polygon(0% 0, 10% 0, 50% 100%, 30% 100%);
          clip-path: polygon(0% 0, 10% 0, 50% 100%, 30% 100%);
  -webkit-animation: wave 2000ms -8800ms ease-in-out infinite alternate;
          animation: wave 2000ms -8800ms ease-in-out infinite alternate;
}
#ui .text:nth-child(8) {
  -webkit-clip-path: polygon(5% 0, 15% 0, 55% 100%, 35% 100%);
          clip-path: polygon(5% 0, 15% 0, 55% 100%, 35% 100%);
  -webkit-animation: wave 2000ms -8600ms ease-in-out infinite alternate;
          animation: wave 2000ms -8600ms ease-in-out infinite alternate;
}
#ui .text:nth-child(9) {
  -webkit-clip-path: polygon(10% 0, 20% 0, 60% 100%, 40% 100%);
          clip-path: polygon(10% 0, 20% 0, 60% 100%, 40% 100%);
  -webkit-animation: wave 2000ms -8400ms ease-in-out infinite alternate;
          animation: wave 2000ms -8400ms ease-in-out infinite alternate;
}
#ui .text:nth-child(10) {
  -webkit-clip-path: polygon(15% 0, 25% 0, 65% 100%, 45% 100%);
          clip-path: polygon(15% 0, 25% 0, 65% 100%, 45% 100%);
  -webkit-animation: wave 2000ms -8200ms ease-in-out infinite alternate;
          animation: wave 2000ms -8200ms ease-in-out infinite alternate;
}
#ui .text:nth-child(11) {
  -webkit-clip-path: polygon(20% 0, 30% 0, 70% 100%, 50% 100%);
          clip-path: polygon(20% 0, 30% 0, 70% 100%, 50% 100%);
  -webkit-animation: wave 2000ms -8000ms ease-in-out infinite alternate;
          animation: wave 2000ms -8000ms ease-in-out infinite alternate;
}
#ui .text:nth-child(12) {
  -webkit-clip-path: polygon(25% 0, 35% 0, 75% 100%, 55% 100%);
          clip-path: polygon(25% 0, 35% 0, 75% 100%, 55% 100%);
  -webkit-animation: wave 2000ms -7800ms ease-in-out infinite alternate;
          animation: wave 2000ms -7800ms ease-in-out infinite alternate;
}
#ui .text:nth-child(13) {
  -webkit-clip-path: polygon(30% 0, 40% 0, 80% 100%, 60% 100%);
          clip-path: polygon(30% 0, 40% 0, 80% 100%, 60% 100%);
  -webkit-animation: wave 2000ms -7600ms ease-in-out infinite alternate;
          animation: wave 2000ms -7600ms ease-in-out infinite alternate;
}
#ui .text:nth-child(14) {
  -webkit-clip-path: polygon(35% 0, 45% 0, 85% 100%, 65% 100%);
          clip-path: polygon(35% 0, 45% 0, 85% 100%, 65% 100%);
  -webkit-animation: wave 2000ms -7400ms ease-in-out infinite alternate;
          animation: wave 2000ms -7400ms ease-in-out infinite alternate;
}
#ui .text:nth-child(15) {
  -webkit-clip-path: polygon(40% 0, 50% 0, 90% 100%, 70% 100%);
          clip-path: polygon(40% 0, 50% 0, 90% 100%, 70% 100%);
  -webkit-animation: wave 2000ms -7200ms ease-in-out infinite alternate;
          animation: wave 2000ms -7200ms ease-in-out infinite alternate;
}
#ui .text:nth-child(16) {
  -webkit-clip-path: polygon(45% 0, 55% 0, 95% 100%, 75% 100%);
          clip-path: polygon(45% 0, 55% 0, 95% 100%, 75% 100%);
  -webkit-animation: wave 2000ms -7000ms ease-in-out infinite alternate;
          animation: wave 2000ms -7000ms ease-in-out infinite alternate;
}
#ui .text:nth-child(17) {
  -webkit-clip-path: polygon(50% 0, 60% 0, 100% 100%, 80% 100%);
          clip-path: polygon(50% 0, 60% 0, 100% 100%, 80% 100%);
  -webkit-animation: wave 2000ms -6800ms ease-in-out infinite alternate;
          animation: wave 2000ms -6800ms ease-in-out infinite alternate;
}
#ui .text:nth-child(18) {
  -webkit-clip-path: polygon(55% 0, 65% 0, 105% 100%, 85% 100%);
          clip-path: polygon(55% 0, 65% 0, 105% 100%, 85% 100%);
  -webkit-animation: wave 2000ms -6600ms ease-in-out infinite alternate;
          animation: wave 2000ms -6600ms ease-in-out infinite alternate;
}
#ui .text:nth-child(19) {
  -webkit-clip-path: polygon(60% 0, 70% 0, 110% 100%, 90% 100%);
          clip-path: polygon(60% 0, 70% 0, 110% 100%, 90% 100%);
  -webkit-animation: wave 2000ms -6400ms ease-in-out infinite alternate;
          animation: wave 2000ms -6400ms ease-in-out infinite alternate;
}
#ui .text:nth-child(20) {
  -webkit-clip-path: polygon(65% 0, 75% 0, 115% 100%, 95% 100%);
          clip-path: polygon(65% 0, 75% 0, 115% 100%, 95% 100%);
  -webkit-animation: wave 2000ms -6200ms ease-in-out infinite alternate;
          animation: wave 2000ms -6200ms ease-in-out infinite alternate;
}
#ui .text:nth-child(21) {
  -webkit-clip-path: polygon(70% 0, 80% 0, 120% 100%, 100% 100%);
          clip-path: polygon(70% 0, 80% 0, 120% 100%, 100% 100%);
  -webkit-animation: wave 2000ms -6000ms ease-in-out infinite alternate;
          animation: wave 2000ms -6000ms ease-in-out infinite alternate;
}
#ui .text:nth-child(22) {
  -webkit-clip-path: polygon(75% 0, 85% 0, 125% 100%, 105% 100%);
          clip-path: polygon(75% 0, 85% 0, 125% 100%, 105% 100%);
  -webkit-animation: wave 2000ms -5800ms ease-in-out infinite alternate;
          animation: wave 2000ms -5800ms ease-in-out infinite alternate;
}
#ui .text:nth-child(23) {
  -webkit-clip-path: polygon(80% 0, 90% 0, 130% 100%, 110% 100%);
          clip-path: polygon(80% 0, 90% 0, 130% 100%, 110% 100%);
  -webkit-animation: wave 2000ms -5600ms ease-in-out infinite alternate;
          animation: wave 2000ms -5600ms ease-in-out infinite alternate;
}
#ui .text:nth-child(24) {
  -webkit-clip-path: polygon(85% 0, 95% 0, 135% 100%, 115% 100%);
          clip-path: polygon(85% 0, 95% 0, 135% 100%, 115% 100%);
  -webkit-animation: wave 2000ms -5400ms ease-in-out infinite alternate;
          animation: wave 2000ms -5400ms ease-in-out infinite alternate;
}
#ui .text:nth-child(25) {
  -webkit-clip-path: polygon(90% 0, 100% 0, 140% 100%, 120% 100%);
          clip-path: polygon(90% 0, 100% 0, 140% 100%, 120% 100%);
  -webkit-animation: wave 2000ms -5200ms ease-in-out infinite alternate;
          animation: wave 2000ms -5200ms ease-in-out infinite alternate;
}
#ui .text:nth-child(26) {
  -webkit-clip-path: polygon(95% 0, 105% 0, 145% 100%, 125% 100%);
          clip-path: polygon(95% 0, 105% 0, 145% 100%, 125% 100%);
  -webkit-animation: wave 2000ms -5000ms ease-in-out infinite alternate;
          animation: wave 2000ms -5000ms ease-in-out infinite alternate;
}

@-webkit-keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(0.9) rotateX(20deg) rotateY(20deg) rotateZ(0deg);
    color: #f5422c;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    color: #f49b90;
  }
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(0.9) rotateX(20deg) rotateY(20deg) rotateZ(0deg);
    color: #f5422c;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    color: #f49b90;
  }
}



:root {
  --color-background: #31037d;
  --axis-x: 1px;
  --axis-y: 1rem;
  --delay: 10;
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #d49c3d;
  --color-red: #d14b3d;
  --color-violet: #cf52eb;
  --color-blue: #44a3f7;
  --color-green: #5acb3c;
  --color-yellow: #debf40;
  --color-foreground: var(--color-white);
  --font-name: Righteous;
}

html,
body {
  font-size: 16px;
}

.gamesC {

  display: flex;
  align-items: center;
  justify-content: center;

}

.c-rainbow {
  counter-reset: rainbow;
  position: relative;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.c-rainbow__layer {
  --text-color: var(--color-foreground);
  counter-increment: rainbow;
  font-size: 3rem;
  color: var(--text-color);
  text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black), -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black), 4px 4px 0 rgba(0, 0, 0, 0.2);
  animation: rainbow 1.5s ease-in-out infinite;
}
.c-rainbow__layer:nth-child(1) {
  animation-delay: calc(1 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 1);
  z-index: -10;
}
.c-rainbow__layer:nth-child(2) {
  animation-delay: calc(2 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 2);
  z-index: -20;
}
.c-rainbow__layer:nth-child(3) {
  animation-delay: calc(3 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 3);
  z-index: -30;
}
.c-rainbow__layer:nth-child(4) {
  animation-delay: calc(4 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 4);
  z-index: -40;
}
.c-rainbow__layer:nth-child(5) {
  animation-delay: calc(5 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 5);
  z-index: -50;
}
.c-rainbow__layer:nth-child(6) {
  animation-delay: calc(6 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 6);
  z-index: -60;
}
.c-rainbow__layer:nth-child(7) {
  animation-delay: calc(7 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 7);
  z-index: -70;
}
.c-rainbow__layer:not(:first-child) {
  position: absolute;
  top: 0;
}
.c-rainbow__layer--white {
  --text-color: var(--color-white);
}
.c-rainbow__layer--orange {
  --text-color: var(--color-orange);
}
.c-rainbow__layer--red {
  --text-color: var(--color-red);
}
.c-rainbow__layer--violet {
  --text-color: var(--color-violet);
}
.c-rainbow__layer--blue {
  --text-color: var(--color-blue);
}
.c-rainbow__layer--green {
  --text-color: var(--color-green);
}
.c-rainbow__layer--yellow {
  --text-color: var(--color-yellow);
}

@keyframes rainbow {
  0%, 100% {
    transform: translatey(var(--axis-y));
  }
  50% {
    transform: translatey(calc(var(--axis-y) * -1));
  }
}

</style>
