--- 

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type"><style type="text/css">@import url(https://themes.googleusercontent.com/fonts/css?kit=O9QyY3iLqlytUTLkH8alZggOxvR8yKo05H_rhKGm4YU);ol.lst-kix_vhht72w8263f-8{list-style-type:none}ol.lst-kix_vhht72w8263f-6{list-style-type:none}ol.lst-kix_vhht72w8263f-7{list-style-type:none}.lst-kix_vhht72w8263f-2>li{counter-increment:lst-ctn-kix_vhht72w8263f-2}ol.lst-kix_vhht72w8263f-6.start{counter-reset:lst-ctn-kix_vhht72w8263f-6 0}.lst-kix_vhht72w8263f-0>li:before{content:"" counter(lst-ctn-kix_vhht72w8263f-0,decimal) ".) "}ol.lst-kix_vhht72w8263f-8.start{counter-reset:lst-ctn-kix_vhht72w8263f-8 0}.lst-kix_vhht72w8263f-1>li:before{content:"" counter(lst-ctn-kix_vhht72w8263f-1,lower-latin) ".) "}.lst-kix_vhht72w8263f-3>li:before{content:"(" counter(lst-ctn-kix_vhht72w8263f-3,decimal) ") "}.lst-kix_vhht72w8263f-2>li:before{content:"" counter(lst-ctn-kix_vhht72w8263f-2,lower-roman) ".) "}ol.lst-kix_vhht72w8263f-3.start{counter-reset:lst-ctn-kix_vhht72w8263f-3 0}ol.lst-kix_vhht72w8263f-0{list-style-type:none}ol.lst-kix_vhht72w8263f-1{list-style-type:none}ol.lst-kix_vhht72w8263f-0.start{counter-reset:lst-ctn-kix_vhht72w8263f-0 0}.lst-kix_vhht72w8263f-5>li:before{content:"(" counter(lst-ctn-kix_vhht72w8263f-5,lower-roman) ") "}ol.lst-kix_vhht72w8263f-4{list-style-type:none}ol.lst-kix_vhht72w8263f-5{list-style-type:none}.lst-kix_vhht72w8263f-5>li{counter-increment:lst-ctn-kix_vhht72w8263f-5}.lst-kix_vhht72w8263f-8>li{counter-increment:lst-ctn-kix_vhht72w8263f-8}ol.lst-kix_vhht72w8263f-2{list-style-type:none}ol.lst-kix_vhht72w8263f-3{list-style-type:none}.lst-kix_vhht72w8263f-4>li:before{content:"(" counter(lst-ctn-kix_vhht72w8263f-4,lower-latin) ") "}ol.lst-kix_vhht72w8263f-5.start{counter-reset:lst-ctn-kix_vhht72w8263f-5 0}.lst-kix_vhht72w8263f-6>li:before{content:"" counter(lst-ctn-kix_vhht72w8263f-6,decimal) ". "}.lst-kix_vhht72w8263f-7>li{counter-increment:lst-ctn-kix_vhht72w8263f-7}ol.lst-kix_vhht72w8263f-7.start{counter-reset:lst-ctn-kix_vhht72w8263f-7 0}.lst-kix_vhht72w8263f-7>li:before{content:"" counter(lst-ctn-kix_vhht72w8263f-7,lower-latin) ". "}.lst-kix_vhht72w8263f-1>li{counter-increment:lst-ctn-kix_vhht72w8263f-1}.lst-kix_vhht72w8263f-4>li{counter-increment:lst-ctn-kix_vhht72w8263f-4}li.li-bullet-0:before{margin-left:-18pt;white-space:nowrap;display:inline-block;min-width:18pt}.lst-kix_vhht72w8263f-8>li:before{content:"" counter(lst-ctn-kix_vhht72w8263f-8,lower-roman) ". "}ol.lst-kix_vhht72w8263f-2.start{counter-reset:lst-ctn-kix_vhht72w8263f-2 0}.lst-kix_vhht72w8263f-3>li{counter-increment:lst-ctn-kix_vhht72w8263f-3}.lst-kix_vhht72w8263f-6>li{counter-increment:lst-ctn-kix_vhht72w8263f-6}ol.lst-kix_vhht72w8263f-1.start{counter-reset:lst-ctn-kix_vhht72w8263f-1 0}.lst-kix_vhht72w8263f-0>li{counter-increment:lst-ctn-kix_vhht72w8263f-0}ol.lst-kix_vhht72w8263f-4.start{counter-reset:lst-ctn-kix_vhht72w8263f-4 0}ol{margin:0;padding:0}table td,table th{padding:0}.c10{margin-left:72pt;padding-top:0pt;text-indent:36pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c5{margin-left:36pt;padding-top:0pt;padding-left:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c1{margin-left:36pt;padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left;height:11pt}.c16{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left;height:11pt}.c14{padding-top:0pt;text-indent:36pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c19{margin-left:72pt;padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c7{margin-left:36pt;padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c6{padding-top:12pt;padding-bottom:6pt;line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}.c3{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Alegreya";font-style:normal}.c22{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c21{padding-top:12pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:left}.c13{text-decoration-skip-ink:none;font-family:"Alegreya";-webkit-text-decoration-skip:none;font-weight:700;text-decoration:underline}.c9{color:#000000;text-decoration:none;vertical-align:baseline;font-size:16pt;font-style:normal}.c20{color:#000000;text-decoration:none;vertical-align:baseline;font-size:12pt;font-style:normal}.c8{color:#000000;text-decoration:none;vertical-align:baseline;font-size:20pt;font-style:normal}.c0{font-family:"Alegreya";color:#1155cc;font-weight:700}.c11{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}.c24{font-weight:700;font-family:"Alegreya"}.c4{font-weight:400;font-family:"Alegreya"}.c2{color:inherit;text-decoration:inherit}.c12{padding:0;margin:0}.c17{font-size:20pt}.c15{font-size:16pt}.c23{text-indent:36pt}.c18{margin-left:108pt}.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}</style>
        
	</head>
	<body class="flex justify-center place-items-center text-center c6 doc-content">
        
		<div class="text-center justify-center py-16 px-24 max-w-4xl bg-white">
            <h1 class="text-blue-500 hover:underline font-bold"><a href="../">Back</a></h1>
            <slot/>
			<h1 class="text-blue-500 hover:underline font-bold"><a href="../">Back</a></h1>
        </div>
	</body>
</html>
<style is:global>

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151A;
		background-size: 224px;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
